 
 body{
     font-family: 'Times New Roman', Times, serif;
     background-color: #cefcfc;
 }
 
 table{
	margin-top: 70px;
	text-align: center;
	background: rgb(241, 172, 243);
	color: rgb(17, 9, 9);
}

#show th, #show td{
	padding: 13px;
    margin: 12px;
}

#btna td input{
	width: 100%;
} 